{% extends "base.html" %}

{% block title %}
    Your Name Blog
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Posts</h1>
            <a href="/create">Create a New Post!</a>
            <br>
            <br>
            <hr>
            {% for post in posts %}

                <h2 id="title">
                    <a href="/post/{{ post[0] }}/{{ post[5] }}">
                        {{ post[3] }}
                    </a>
                </h2>
                <h5>{{ post[2] }} by {{ post[1] }} </h5>
                <br>
                <pre id="blog-post" style="">{{ post[4] }}</pre>

                <hr>

            {%  endfor %}


        </div>
    </div>
</div>

{% endblock %}