{% extends "base.html" %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 id="title">{{ post['title'] }}</h3>
            <h5>{{ post['user_id'] }} by {{ post['date'] }} </h5>
            <br>
            <pre id="blog-post" style="">{{ post['body'] }}</pre>
            <br><hr><br>
            {% if session['user_id'] == post['user_id'] or session['user_id'] == 'admin' %}
                <button class="btn btn-warning">
                    <a href="/update/{{ post['post_id'] }}" style="color: inherit">Update</a>
                </button>
                <form action="/delete/{{ post['post_id'] }}" method="post">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}